
/* Modal overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Một lớp mờ */
    z-index: 1; /* Đảm bảo hiển thị phía trên modal */
}

.overlay.active {
    display: block;
}

/* Hiển thị modal khi nó được kích hoạt */
.modal.active {
    display: block;
}

/* Modal content */
.modal-content {
    position: fixed;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Đảm bảo hiển thị phía trên overlay */
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
